<div class="container mt-4">
  <div class="d-flex justify-content-between mt-4">
    <%= link_to 'Previous page', manga_path(page: params[:page].to_i - 1), class: 'btn btn-primary' if params[:page].to_i > 0 %>
    <%= link_to 'Next page', manga_path(page: params[:page].to_i + 1), class: 'btn btn-primary' %>
  </div>
  <div class="row">
    <% @manga_info_data.each do |manga| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow rounded">
          <img class="card-img-top" src="<%= manga['main_picture']['large'] %>" alt="<%= manga['title'] %>">
          <div class="card-body">
            <h5 class="card-title"><%= manga['title'] %></h5>
            <p class="card-text text-truncate" style="max-height: 7em; overflow: hidden;"><%= manga['synopsis'] %></p>
            <p class="card-text">Score: <%= manga['my_list_status']['score'] %></p>
            <p class="card-text">Average Rating: <%= manga['mean'] %></p>
            <p class="card-text">Year: <%= Date.parse(manga['start_date']).year %></p>
            <p class="card-text">
              Genres:
              <% manga['genres'].each do |genre| %>
                <span class="badge badge-dark"><%= genre['name'] %></span>
              <% end %>
            </p>
            <p class="card-text">
              Authors:
              <% manga['authors'].each do |author| %>
                <span class="badge badge-dark"><%= author['first_name'] %> <%= author['last_name'] %></span>
              <% end %>
            </p>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted"><%= manga['status'] %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <%= link_to 'Previous page', manga_path(page: params[:page].to_i - 1), class: 'btn btn-primary' if params[:page].to_i > 0 %>
    <%= link_to 'Next page', manga_path(page: params[:page].to_i + 1), class: 'btn btn-primary' %>
  </div>
</div>
